name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven' # Optional: add caching for speed

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Run Tests
      run: mvn test

    - name: Generate Javadoc
      run: mvn javadoc:javadoc

    - name: Upload Javadoc
      uses: actions/upload-artifact@v4
      with:
        name: javadoc
        path: target/site/apidocs
